h1{
    margin-top: 1.5em;
    color:black;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-justify: auto;
    font-size: 3em;
    font-weight: bold;
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}
body{
    background-image: url(img/fondo.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.flex-container {
    display: flex;
    justify-content: space-around;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 2rem;
    align-items: center;
}
button{
    border: none;
    color: white;
    padding: 5px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #5a685a;
}
  
  .button1:hover {
    background-color: #887541;
    color: white;
}